<p>
  Hello! <%= @parent.email%>,
  A new journal entry was posted by your child, <%= @child.name %>:
</p>
<blockquote>

Your child just submitted a journal entry on EmotionKnow.  Log in to your account to see the emotions they expressed!

                  EmotionKnow.com/login
</blockquote>

<p>
Best wishes,
The EmotionKnow Team
</p>
